<header class="site-header" role="banner">
  <br />
  <div class="container content">
    <div class="columns">
      <div class="column is-3">
        <a href="/"><img class="image" src="{{site.logo}}" alt="{{site.title}}" /></a>
      </div>
      <div class="column is-5 is-offset-4">
        <nav class="navbar">
          <div class="navbar-brand">
            <div class="navbar-burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          {% include jaaga_nav.html %}
        </nav>
      </div>
    </div>
  </div>
</header>
