<div class="card is-shadowless">
    <a href="{{page.url}}">
    <div class="card-image">
        <figure class="image is-marginless">
          <img src="{{page.feature_image}}" alt="Image" style="align-self: center;">
        </figure>
    </div>
    </a>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <a href="{{page.url}}"><p class="title is-4">{{page.title}}</p></a>
          </div>
        </div>
        <!-- <div class="content"> -->
          <!-- <p>{{page.excerpt}}</p> -->
        <!-- </div> -->
    </div>
</div>
