<div id="ready-form">
  <h1>Are you IoT Ready?</h1>
  <form action="/" method="post">
    <div class="field">
      <label class="checkbox">
      <input type="checkbox" id="device-checkbox">
      Yes, our devices are secure, flexible and easy to maintain.
      </label>
    </div>
    <div class="field">
      <label class="checkbox">
      <input type="checkbox" id="cloud-checkbox">
      Yes, our cloud infrastructure is robust, secure and scalable.
      </label>
    </div>
    <div class="field">
      <label class="checkbox">
      <input type="checkbox" id="hr-checkbox">
      Yes, our engineers are up to speed on the best IoT architectures.
      </label>
    </div>
  </form>
  <br/>
</div>
