<div class="card is-shadowless">
    <div class="card-image">
        <figure class="image has-side-padding has-no-bottom-padding">
          <img src="{{p.photo}}" alt="Image" style="align-self: center;">
        </figure>
    </div>
      <div class="card-content has-no-top-margin">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{p.name}}</p>
          </div>
        </div>
        <div class="content">
          <p>{{p.bio}}</p>
        </div>
    </div>
</div>
